body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
} 

.MuiPaper-root {
  width: 300px;
  padding: 0;
}

.TestTable__Chekbox {
  accent-color: #863654;
} 

.TestRow__Checkbox{
  accent-color: #863654;
}

.AddTest__Form-title-error{
  color: red;
  padding-left: 20px;
}

.NavBar__Logo {
  width: 50px; 
  height: 50px;
}